<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356352269942-kphdip9f31eokg7c2g4bp4rt7tndjcrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356352269942-kphdip9f31eokg7c2g4bp4rt7tndjcrr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>356352269942-3fo6togvpvh6q79stgksos5fh4rf2qv4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzuV1eoln9AT9xcJ_vvCZ1UQBBuWR54qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356352269942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bithyve.tribe</string>
	<key>PROJECT_ID</key>
	<string>bitcoin-tribe-rgb</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcoin-tribe-rgb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356352269942:ios:65c1531fa2503a43ad8957</string>
</dict>
</plist>